/* Attributi specifici della griglia di Home */

.grid-home {
  box-sizing: content-box;
  grid-template-columns: repeat(10, 1fr);
}

/* Attributi specifici dell'immagine di copertina di Home */

.image-home {
  background: url("/img/milan/2017/milan_6.jpg");
  background-position: bottom;
  background-size: cover;
  background-position: 50% 70%;
}

/* Dimensione massima del Wrapper per evitare che si debba scrollare */

.wrapper {
  max-width: 100vw;
}

/* Nome del sito */

.site-title {
  grid-column: 6/11;
  text-align: right;
  font-size: 2rem;
}
