/* Attributi specifici della griglia di Home */

.grid-home {
  box-sizing: content-box;
  grid-template-columns: repeat(10, 1fr);
}

/* Attributi specifici dell'immagine di copertina di Home */

.image {
  background: url("/img/home-sito.jpg");
  background-position: bottom;
}

/* Dimensione massima del Wrapper per evitare che si debba scrollare */

.wrapper {
  max-width: 100vw;
}

/* Nome del sito */

.site-title {
  grid-column: 7/11;
  text-align: right;
  font-size: 30px;
}
