/* Attributi specifici della griglia di Places */

.grid-places {
  height: 100vh;
  background-color: yellow;
  grid-template-columns: repeat(15, 10vh);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  padding-left: 10vw;
}

/* Spazio occupato nella griglia da ogni singolo posto */

.place {
  grid-column: span 3;
  grid-row: span 3;
}

/* Immagine del singolo posto */

.posto-image {
  width: 100%;
  height: 66%;
  background-color: red;
}

.posto-image > img {
  width: 100%;
  height: 100%;
}
