/* Generali */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

h1 {
  margin: 0;
  color: red;
}

.image {
  /*margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;*/
  background: url("img/home-foto.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.slide {
  width: max-content;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: fit-content;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.grid {
  max-height: 90vh;
  padding: 5vh;
  display: grid;
  grid-template-columns: repeat(16, 10vh);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 50px;
  row-gap: 20px;
}

.scritta {
  grid-column: 2/6;
  grid-row: 2/3;

  text-align: center;
}

.foto1 {
  grid-column: 2/6;
  grid-row: 4/7;
  background-color: violet;
}

.foto2 {
  grid-column: 6/10;
  grid-row: 1/4;
  background-color: red;
}

.foto3 {
  grid-column: 6/10;
  grid-row: 4/7;
  background-color: blue;
}

.foto4 {
  grid-column: 10/15;
  grid-row: 1/7;
  background-color: blue;
}

.foto5 {
  grid-column: 17/20;
  grid-row: 1/7;
  background-color: red;
}

/* MENU */

.menu-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-wrap .toggler {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  left: 20px;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 1s ease;
}

/* Linea centrale del bottone */

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Linea superiore e inferiore del bottone */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Animazione bottone menu */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*Rotazione on hover*/

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scaleX(1);
  transition-duration: 1s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transform-origin: opacity 0.4s ease;
}

.menu-wrap .toggler:checked ~ .hamburger {
  left: 23vw;
}

.toggler:checked {
  left: 23vw;
}

/*Menu */

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  text-decoration: none;
  color: red;
}

.menu-wrap .menu > div {
  background-color: #fff;
  height: 100%;
  width: 25vw;
  display: flex;
  flex: none;
  align-items: center;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 1.1s ease;
}

.menu-wrap .menu > div > div {
  opacity: 0;
  transition: opacity 0.4 ease;
}
